/* ==== GENERAL STYLES ==== */

* {
    box-sizing: border-box;
}


/* ==== A SIMPLE TOP NAVIGATION ==== */

nav ul {
    background-color: #eee;
    text-align: center;
}

nav li {
    font-family: 'Anton', sans-serif;
    font-size: 1.4rem;
    line-height: 3rem;
    height: 3rem;
    border-bottom: 1px solid #ccc;
}

nav a {
    text-decoration: none;
    color: #0061f3;
    display: block;
}

nav a:hover {
    background-color: #fff;
}

nav a.active {
    background-color: #0061f3;
    color: #eee;
}


/* ==== BIGGER SIZES ==== */

@media (min-width: 620px) {
    nav li {
        display: inline-block;
        border-bottom: none;
        width: 7.5rem;
    }
    nav {
        font-size: 0;
    }
}